.header h1{
    background-color: cyan;
    text-align: center
}

a:visited{
    color: #ff0000;
}

.multiverse h1{
    background-color: coral;
    border : solid;
    text-align: center;
}

*{
    background-color: rgb(115, 223, 105);


}
.header *{
    border: solid;
}
  
.description {
    
    
    
    text-align: center;
    font-weight: bold;
}

.all{

 display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.item{
    padding: 20px;
    margin: 30px;
    border: 10px solid;
    background-color: blue;
    border-radius: 30px;

} 

.item:hover{
    transform:scale(1.2);
}

.item{
 position: relative;
 
}

/*p{
color : blue;
font-weight: 'bold';
transform:translate(0%,350%);
z-index: 2;
opacity:  0;
}

.item:hover p{
opacity:  1;
}*/

